<div class="welcome-photo-grid">
    <%= image_tag "manistee.jpg", :class => "welcomeImages"%>
    <%= image_tag "jordan_river.jpg", :class => "welcomeImages" %>
    <%= image_tag "shecks.jpg", :class => "welcomeImages"%>
    <%= image_tag "wildflowers.jpg", :class => "welcomeImages"%>
    <%= image_tag "up.jpg", :class => "welcomeImages"%>
    <%= image_tag "spiderLakeArea.jpg", :class => "welcomeImages"%>
</div>
<div class="welcome-buttons">
  <button id="welcome-first-button">Trails</button>
  <button>Log In</button>
  <button>Sign Up</button>
</div>
