<h3><%= @question.title %></h3>

<%= form_for [@question, @answer] do |f| %>
  <%= f.label "Your Answer: " %>
  <%= f.text_field :title, :size => "50" %><br><br>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.submit %>
<% end %>
