<h1> All Trails </h1>
<hr>
<%= form_tag trails_path do %>
  <strong>Search by Trail Name: </strong></br>
  <%= text_field_tag :query, params[:query], placeholder: "Name or Part of Name" %>
  <%= submit_tag "Search" %>
<% end %>
<hr>
<% @regions.each do |region| %>
  <h2><%= region.name %></h2>
  <ul>
    <% region.trails.each do |trail| %>
      <li><%= link_to trail.name, trail_path(trail) %></li>
    <% end %>
  </ul>
  <hr>
<% end %>
