<div id = "trail-info">
  <h2><%= @trail.name %></h2>
  <button id="next-trail" data-id="<%= @trail.id %>">Next Trail</button>
  <%= render 'formerrors' %>

  <!-- Submitted by  -->
  <p><em>This trail was submitted by: <%= submitting_user(@trail) %></em><p>

  <!-- Either mark the trail as hiked or show text saying Hiked  -->
  <%= form_tag trail_path(@trail), :method => :patch, :id => 'hiked-before-form' do %>
    <%= hidden_field_tag 'trail[user_ids]', current_user.id %>
    <%= submit_tag "Mark as Hiked" %>
  <% end %>
  <h4 id="hiked-before-display"><%= display_hiked_before(current_user) %></h4>

  <!-- STAYS: Trail Display Information  -->
  <h4>Nearest City: <%= @trail.nearest_city %></h4>
  <p>Directions: <em><%= @trail.directions %></em></p>
  <p>Trail length: <%= @trail.distance %></p>
  <p>Description: <%= @trail.description %></p>
  <p>Dog Friendly: <%= display_dog_friendly(@trail) %></p>
  <%= user_trail_edit(current_user, @trail) %>
  <%= user_trail_delete(current_user, @trail) %>
  <hr>
</div>

<!-- Tips indexing and new tip form  -->
<div id="tips" >
  <h4>Tips about this Trail</h4>
  <%= render 'tips/index_and_form' %>
</div>
<hr>

<!-- Questions indexing and new tip form  -->
<div id="questions">
  <h4>Questions about this Trail</h4>
  <%= render 'questions/index_and_form' %>
</div>
<hr>

<!-- Add trail to List -->
<h4>Add Trail to a List</h4>
<%= form_for @trail do |f| %>
  <%= f.collection_select :list_ids, current_user.lists, :id, :name, :prompt => true %>
  <%= f.submit "Save to List" %>
<% end %>
<hr>
