<% @trail.tips.each do |tip| %>
  <p><%= tip.comment %> - <%= tip.user.username %>
  <%= user_tip_delete(current_user, tip) %></p>
<% end %>
<p id="tip-comment"></p>
<br><br>

<%= form_tag tips_path, :id => 'tip-form' do %>
  <%= text_field_tag 'tip[comment]' %><br>
  <%= hidden_field_tag 'tip[user_id]', current_user.id %>
  <%= hidden_field_tag 'tip[trail_id]', @trail.id %>
  <%= submit_tag "Leave Tip" %>
<% end %>
