<!DOCTYPE html>
<html>
  <head>
    <title>Trailblazer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Lato" rel="stylesheet">
  </head>

  <body>

    <%= render_nav_bar(current_user) %>
    <header>
      <h1>Michigan Trailblazer</h1>
      <h3><em>A hiking trail tracker to track the trails you've trekked</em></h3>
    </header>
    <div class= "wrapper">
      <%= yield %>
    </div>
  </body>
  <hr>
  <footer>
    <p>Created by Amanda Ackerman · 2018 · <a href='https://github.com/ackerm44'  target='_blank'>github.com/ackerm44</a></p>
  </footer>
</html>
